
@media(min-width: 1200px) {
    * {
        margin: 0 auto;
        padding: 0;
    }

    #wrapper {
        width: 1100px;
        background-color: aqua;
    }

    header {
        height: 180px;
        background-color: chartreuse;
    }

    #login {
        height: 30px;
        line-height: 30px;
        background-color: burlywood;
        text-align: right;
    }

    #carroussel {
        height: 400px;
        background-color: blueviolet;
        margin-top: 10px;
    }

    .produto {
        width: 353px;
        height: 353px;
        background-color: chocolate;
        margin: 20px 0px 0px 20px;
        /* top right bottom left */
        float: left;
    }

    .produto:nth-child(1),
    .produto:nth-child(4),
    .produto:nth-child(7) {
        margin-left:00px;
    }

    footer {
        height: 400px;
        width: 1100px;
        background-color: crimson;
        clear: both;
    }
    .produto img{
        margin-top: 0px;
        margin-bottom: 20px;
        height: 300px;
        width: 353px;
    }
    .button{
        justify-content: center;
        align-items: center;
        transition: all .6s ease-out;
        height: 10px;
        width: 35px;
    }
    .cart{
        justify-content: center;
    }
    .backbutton:hover,
    .backbutton:focus{
        outline-offset: 3px;
    }
    .backbutton:is(:hover, :focus){
        outline-offset: 3px;
    }
}